<div id="<%= dom_id course_enrollment %>">
  <p>
    <strong>Student:</strong>
    <%= course_enrollment.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course_enrollment.course_id %>
  </p>

</div>
