<h1>Editing course enrollment</h1>

<%= render "form", course_enrollment: @course_enrollment %>

<br>

<div>
  <%= link_to "Show this course enrollment", @course_enrollment %> |
  <%= link_to "Back to course enrollments", course_enrollments_path %>
</div>
